#container {
  font-family: "Courier New", Courier, monospace;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rosybrown;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("background.png");
}

.image-background {
  height: 50vh;
  align-self: center;
}
